# Visual Studio
.vs/
*.vcxproj.user
*.VC.db
*.opendb
*.sdf
*.ipch

# Build folders
Debug/
Release/
x64/
x86/

# CMake
CMakeFiles/
CMakeCache.txt

# Temporary
*.log


# CMake build folders
**/build/
**/cmake-build-*/

# GLFW generated build
**/external/glfw/build/

# Compiled binaries
*.exe
*.dll
*.lib
*.obj
*.pdb